#Prendere la collection sales nel database del prof, Prendere la collection e caricarla nel dataframe, Poi caricarla nel nostro database

In [ ]:
import pymongo
import pandas as pd
import datetime

In [ ]:
import pymongo
import pandas as pd
import datetime

client = pymongo.MongoClient(
    "mongodb://Emanuele-Visioli:EMAnuele25102004@cluster0-shard-00-00.x7fma.mongodb.net:27017,cluster0-shard-00-01.x7fma.mongodb.net:27017,cluster0-shard-00-02.x7fma.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-566dc8-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies # nome del database<

In [ ]:
result = db.sales.find()

df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 34, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'printer paper', 'tags': ['office', ...",New York,"{'gender': 'F', 'age': 39, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccff1,2014-08-18 04:37:26.849,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'M', 'age': 57, 'email': 'ohaguwu@n...",False,In store
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce33a,2016-12-22 15:24:27.219,"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 53, 'email': 'tutrigkim...",True,In store
4650,5bd761deae323e45a93ce33e,2015-11-25 21:06:13.187,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 24, 'email': 'pahzuh@ba...",False,Phone
4651,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 48, 'email': 'kid@we.mt...",False,In store
4652,5bd761deae323e45a93ce368,2015-04-22 08:31:40.113,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 65, 'email': 'cas@ejubu...",False,Online
4653,5bd761deae323e45a93ce369,2013-03-20 18:17:19.463,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 45, 'email': 'fili@vu.s...",False,Online

In [ ]:
doc = db.sales.find_one()
doc

{'_id': ObjectId('5bd761dcae323e45a93ccff2'),
 'couponUsed': False,
 'customer': {'age': 34,
  'email': 'keigutip@vaw.tc',
  'gender': 'F',
  'satisfaction': 4},
 'items': [{'name': 'pens',
   'price': Decimal128('75.21'),
   'quantity': 1,
   'tags': ['writing', 'office', 'school', 'stationary']},
  {'name': 'backpack',
   'price': Decimal128('61.11'),
   'quantity': 5,
   'tags': ['school', 'travel', 'kids']},
  {'name': 'envelopes',
   'price': Decimal128('17.2'),
   'quantity': 8,
   'tags': ['stationary', 'office', 'general']},
  {'name': 'notepad',
   'price': Decimal128('37.41'),
   'quantity': 1,
   'tags': ['office', 'writing', 'school']},
  {'name': 'printer paper',
   'price': Decimal128('43.63'),
   'quantity': 7,
   'tags': ['office', 'stationary']}],
 'purchaseMethod': 'Phone',
 'saleDate': datetime.datetime(2015, 7, 25, 7, 20, 29, 804000),
 'storeLocation': 'Seattle'}

#Stringa che collega il mio database

In [ ]:
client = pymongo.MongoClient(
    "mongodb://Database_MongoDB:xxx123xxx@cluster0-shard-00-00.twcfb.mongodb.net:27017,cluster0-shard-00-01.twcfb.mongodb.net:27017,cluster0-shard-00-02.twcfb.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-qk4rx2-shard-0&authSource=admin&retryWrites=true&w=majority"
)
db2 = client.Bellotta # nome del database

#Creo una nuova collection i cui dati sono copiati da quella già esistente

In [ ]:
db2.vendite.insert_many(df.to_dict("records"))

#IMPORTARE IL DATAFRAME SUL PROPRIO DATABASE

In [ ]:
df2 = pd.DataFrame(list(db2.vendite.find()))
df2

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 34, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'printer paper', 'tags': ['office', ...",New York,"{'gender': 'F', 'age': 39, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccff1,2014-08-18 04:37:26.849,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'M', 'age': 57, 'email': 'ohaguwu@n...",False,In store
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce33a,2016-12-22 15:24:27.219,"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 53, 'email': 'tutrigkim...",True,In store
4650,5bd761deae323e45a93ce33e,2015-11-25 21:06:13.187,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 24, 'email': 'pahzuh@ba...",False,Phone
4651,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 48, 'email': 'kid@we.mt...",False,In store
4652,5bd761deae323e45a93ce368,2015-04-22 08:31:40.113,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 65, 'email': 'cas@ejubu...",False,Online
4653,5bd761deae323e45a93ce369,2013-03-20 18:17:19.463,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 45, 'email': 'fili@vu.s...",False,Online

#1. cancellare tutti i document relativi al negozio di San Diego

Controllo se vi sono documents relativi a San Diego

In [ ]:
result = db2.vendite.find({"storeLocation": { "$regex" : "San Diego"}})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
result = db2.vendite.delete_many({"storeLocation" : "San Diego"})
result.deleted_count

0

Controllo se vi sono rimasti documents relativi a San Diego

In [ ]:
result = db2.vendite.find({"storeLocation": { "$regex" : "San Diego"}})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

#2. invecchiare i clienti di 8 anni

In [ ]:
result = db2.vendite.update_many({},{"$inc" : {"customer.age" : 8}})
result.modified_count

4654

In [ ]:
df2 = pd.DataFrame(list(db2.vendite.find()))
df2

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 42, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'printer paper', 'tags': ['office', ...",New York,"{'gender': 'F', 'age': 47, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccff1,2014-08-18 04:37:26.849,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'M', 'age': 65, 'email': 'ohaguwu@n...",False,In store
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'worbiduh@...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 48, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce33a,2016-12-22 15:24:27.219,"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 61, 'email': 'tutrigkim...",True,In store
4650,5bd761deae323e45a93ce33e,2015-11-25 21:06:13.187,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 32, 'email': 'pahzuh@ba...",False,Phone
4651,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 56, 'email': 'kid@we.mt...",False,In store
4652,5bd761deae323e45a93ce368,2015-04-22 08:31:40.113,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 73, 'email': 'cas@ejubu...",False,Online
4653,5bd761deae323e45a93ce369,2013-03-20 18:17:19.463,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 53, 'email': 'fili@vu.s...",False,Online

#3. cancellare tutti i tag 'stationary'

In [ ]:
result = db2.vendite.update_many({},{"$pull" : {"items" :{ "tags": "stationary"}}})
result.modified_count

4090

In [ ]:
result = db2.vendite.find({"items.tags": { "$regex" : "stationary"}})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

#4. eliminare tutti i document di clienti che hanno più di 80 anni e meno di 40

Controllo se vi sono documents in cui i clienti che hanno più di 80 anni e meno di 40

In [ ]:
result = db2.vendite.find({ "$or": [{"customer.age" : {"$gt" : 80}}, {"customer.age" : {"$lt" : 40}}]})
df2 = pd.DataFrame(list(result))
df2

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccffc,2015-11-12 12:06:07.052,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 38, 'email': 'ziguh@lu....",False,In store
1,5bd761dcae323e45a93cd0ff,2013-08-25 22:04:11.735,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 34, 'email': 'zowuhkuz@...",False,In store
2,5bd761dcae323e45a93ccffd,2015-07-27 20:05:46.464,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 39, 'email': 'fimpig@an...",False,In store
3,5bd761dcae323e45a93cd01f,2013-03-16 11:31:20.572,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 32, 'email': 'fufjoka@z...",False,Online
4,5bd761dcae323e45a93cd071,2015-06-10 10:15:04.205,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 39, 'email': 'mi@dus.bb...",False,In store
...,...,...,...,...,...,...,...
1005,5bd761deae323e45a93ce303,2014-11-03 16:17:08.982,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 27, 'email': 'nelhu@ahi...",True,Phone
1006,5bd761deae323e45a93ce30b,2016-11-14 06:59:19.730,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 29, 'email': 'fawdu@de....",False,In store
1007,5bd761deae323e45a93ce27f,2017-02-13 21:26:28.310,"[{'name': 'notepad', 'tags': ['office', 'writi...",Austin,"{'gender': 'F', 'age': 35, 'email': 'jipoil@id...",False,In store
1008,5bd761deae323e45a93ce2bc,2015-11-06 00:15:27.205,"[{'name': 'laptop', 'tags': ['electronics', 's...",Denver,"{'gender': 'F', 'age': 35, 'email': 'poc@dal.g...",False,In store
1009,5bd761deae323e45a93ce33e,2015-11-25 21:06:13.187,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 32, 'email': 'pahzuh@ba...",False,Phone

In [ ]:
result = db2.vendite.delete_many({ "$or": [{"customer.age" : {"$gt" : 80}}, {"customer.age" : {"$lt" : 40}}]})
result.deleted_count

1010

Controllo se vi sono rimasti documents in cui i clienti che hanno più di 80 anni e meno di 40

In [ ]:
result = db2.vendite.find({ "$or": [{"customer.age" : {"$gt" : 80}}, {"customer.age" : {"$lt" : 40}}]})
df2 = pd.DataFrame(list(result))
df2

Empty DataFrame
Columns: []
Index: []

#5. calcolare il prezzo medio degli items

In [ ]:
result = db2.vendite.aggregate([
                                {"$unwind": "$items"},
                                {"$group": {"_id": "Media: ", "media": {"$avg":"$items.price"} } }                            
                            ])
df=pd.DataFrame(list(result))
df

       _id                                media
0  Media:   172.5072270909555007232196035054880

#6. modificare le mail che hanno il dominio .mz in .com

In [ ]:
result = db2.vendite.find({"customer.email" : { "$regex" : "\.mz"}})
df=pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfef,2014-03-31 16:02:06.624,"[{'name': 'notepad', 'tags': ['office', 'writi...",Austin,"{'gender': 'M', 'age': 79, 'email': 'man@bob.m...",False,Online
1,5bd761dcae323e45a93cd2e8,2013-03-14 06:58:21.974,"[{'name': 'notepad', 'tags': ['office', 'writi...",London,"{'gender': 'M', 'age': 52, 'email': 'zasiej@za...",False,In store
2,5bd761dcae323e45a93cd285,2013-02-11 12:09:33.947,"[{'name': 'notepad', 'tags': ['office', 'writi...",Austin,"{'gender': 'F', 'age': 54, 'email': 'remsuv@ho...",False,In store
3,5bd761dcae323e45a93cd256,2015-12-26 05:40:49.530,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'F', 'age': 43, 'email': 'vomozoina...",True,Online
4,5bd761ddae323e45a93cd41c,2013-01-17 09:18:53.182,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'M', 'age': 67, 'email': 'wahpohte@...",False,In store
5,5bd761ddae323e45a93cd413,2017-04-07 23:58:57.581,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'M', 'age': 49, 'email': 'dukum@ata...",False,In store
6,5bd761ddae323e45a93cd6d8,2017-07-06 01:03:15.169,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 56, 'email': 'sop@zi.mz...",False,In store
7,5bd761ddae323e45a93cdbbb,2016-01-10 20:11:47.097,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 62, 'email': 'heg@awogi...",True,In store
8,5bd761deae323e45a93cddb6,2014-10-16 22:57:56.412,"[{'name': 'notepad', 'tags': ['office', 'writi...",London,"{'gender': 'F', 'age': 64, 'email': 'buwbicom@...",False,Online
9,5bd761deae323e45a93cdd03,2017-01-05 16:17:48.205,"[{'name': 'notepad', 'tags': ['office', 'writi...",Austin,"{'gender': 'F', 'age': 47, 'email': 'gas@vuan....",False,In store
10,5bd761deae323e45a93cdd60,2016-12-27 00:34:43.933,"[{'name': 'binder', 'tags': ['school', 'genera...",London,"{'gender': 'M', 'age': 69, 'email': 'jekeva@oh...",False,In store
11,5bd761deae323e45a93cdff0,2017-04-21 10:26:13.483,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 68, 'email': 'aswabor@e...",True,Phone
12,5bd761deae323e45a93cdfd3,2016-01-31 06:00:02.736,"[{'name': 'notepad', 'tags': ['office', 'writi...",London,"{'gender': 'F', 'age': 68, 'email': 'fakuma@he...",False,In store
13,5bd761deae323e45a93ce27e,2013-12-31 08:45:06.586,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 63, 'email': 'sesrigur@...",False,Online

In [ ]:
#https://www.statology.org/mongodb-replace-string/

# Se bisogna trovare le ultime 3 cifre \\b
# Oppure nome del campo + $ = campo$
db2.vendite.update_many({ "customer.email": { "$regex": ".mz$" } }, [{"$set": { "customer.email" : {"$replaceOne": { "input" : "$email", "find": ".mz", "replacement" : ".com" }}}}])

SI PUò USARE ANCHE "\"mz" per non far contare a pymongo il carattere "

In [ ]:
result = db2.vendite.find({"customer.email" : { "$regex" : ".mz$"}})
df=pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

#7. modificare il tag 'school' in 'education'
\

In [ ]:
result = db2.vendite.find({"items.tags" : { "$regex" : "school"}})
df=pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'backpack', 'tags': ['school', 'trav...",Seattle,"{'gender': 'F', 'age': 42, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 47, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccff1,2014-08-18 04:37:26.849,"[{'name': 'laptop', 'tags': ['electronics', 's...",Denver,"{'gender': 'M', 'age': 65, 'email': 'ohaguwu@n...",False,In store
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'worbiduh@...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 48, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
3442,5bd761deae323e45a93ce32e,2014-04-15 15:39:48.240,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 52, 'email': 'rociz@vus...",False,In store
3443,5bd761deae323e45a93ce337,2014-04-29 05:00:20.567,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 65, 'email': 'vo@guflan...",False,Online
3444,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 56, 'email': 'kid@we.mt...",False,In store
3445,5bd761deae323e45a93ce368,2015-04-22 08:31:40.113,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 73, 'email': 'cas@ejubu...",False,Online
3446,5bd761deae323e45a93ce369,2013-03-20 18:17:19.463,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 53, 'email': 'fili@vu.s...",False,Online

In [ ]:
db2.vendite.update_many({ "items.tags": { "$regex": "school" }}, [{"$set": { "items.tags" : {"$replaceOne": { "input" : "$tags", "find": "school", "replacement" : "education" }}}}])

In [ ]:
result = db2.vendite.find({"items.tags" : { "$regex" : "school"}})
df=pd.DataFrame(list(result))
df

In [ ]:
df2 = pd.DataFrame(list(db2.vendite.find()))
df2

#8. aggiungere 7 anni alla data degli ordini

#9. trovare il prodotto venduto più costoso

In [ ]:
result = db2.vendite.aggregate([
                             {"$unwind" : "$items"},
                             {"$unwind": "$items.price"},
    { "$group": {
        "_id": "il prodotto più costoso corrisponde a: ",
        "Risultato": {
            "$max": "$items.price"
        },
        "customerpr": {
            "$push": {
                "oggetti": "$items.name",
                "price": "$items.price",       
            }
        }
       }
    },
{
    '$unwind': '$customerpr'
}, {
    "$match" : {"$expr": {"$eq":["$customerpr.price","$Risultato"]}}
}

    ])

dbRes1 = pd.DataFrame(list(result))
dbRes1

,_id,Risultato,customerpr
0,il prodotto più costoso corrisponde a:,1599.49,"{'oggetti': 'laptop', 'price': 1599.49}"

#10. eliminare dagli ordini tutti i prodotti "envelopes"

In [ ]:
result = db2.vendite.find({"items.name": { "$regex" : "envelopes"}})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
result = db2.vendite.update_many({},{"$pull" : {"items" :{ "name": "envelopes"}}})
result.modified_count

0

#11. copiare la collection "vendite" nella collection "vendite_modificata"

In [ ]:
client = pymongo.MongoClient(
    "mongodb://Database_MongoDB:xxx123xxx@cluster0-shard-00-00.twcfb.mongodb.net:27017,cluster0-shard-00-01.twcfb.mongodb.net:27017,cluster0-shard-00-02.twcfb.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-qk4rx2-shard-0&authSource=admin&retryWrites=true&w=majority"
)
db2 = client.Bellotta # nome del database

In [ ]:
result = db2.vendite.find()

df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 34, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'printer paper', 'tags': ['office', ...",New York,"{'gender': 'F', 'age': 39, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccff1,2014-08-18 04:37:26.849,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'M', 'age': 57, 'email': 'ohaguwu@n...",False,In store
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce33a,2016-12-22 15:24:27.219,"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 53, 'email': 'tutrigkim...",True,In store
4650,5bd761deae323e45a93ce33e,2015-11-25 21:06:13.187,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 24, 'email': 'pahzuh@ba...",False,Phone
4651,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 48, 'email': 'kid@we.mt...",False,In store
4652,5bd761deae323e45a93ce368,2015-04-22 08:31:40.113,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 65, 'email': 'cas@ejubu...",False,Online
4653,5bd761deae323e45a93ce369,2013-03-20 18:17:19.463,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 45, 'email': 'fili@vu.s...",False,Online

In [ ]:
db2.vendite_modificata.insert_many(df.to_dict("records"))

In [ ]:
result = db2.vendite_modificata.find()

df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 34, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'printer paper', 'tags': ['office', ...",New York,"{'gender': 'F', 'age': 39, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccff1,2014-08-18 04:37:26.849,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'M', 'age': 57, 'email': 'ohaguwu@n...",False,In store
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce33a,2016-12-22 15:24:27.219,"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 53, 'email': 'tutrigkim...",True,In store
4650,5bd761deae323e45a93ce33e,2015-11-25 21:06:13.187,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 24, 'email': 'pahzuh@ba...",False,Phone
4651,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 48, 'email': 'kid@we.mt...",False,In store
4652,5bd761deae323e45a93ce368,2015-04-22 08:31:40.113,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 65, 'email': 'cas@ejubu...",False,Online
4653,5bd761deae323e45a93ce369,2013-03-20 18:17:19.463,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 45, 'email': 'fili@vu.s...",False,Online

@eliminarla

In [ ]:
myclient = pymongo.MongoClient( "mongodb://Database_MongoDB:xxx123xxx@cluster0-shard-00-00.twcfb.mongodb.net:27017,cluster0-shard-00-01.twcfb.mongodb.net:27017,cluster0-shard-00-02.twcfb.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-qk4rx2-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb = myclient["Bellotta"] 
mycol = mydb["vendite_modificata"]

mycol.drop()

#12. eliminare la collection "vendite"

In [ ]:
myclient = pymongo.MongoClient( "mongodb://Database_MongoDB:xxx123xxx@cluster0-shard-00-00.twcfb.mongodb.net:27017,cluster0-shard-00-01.twcfb.mongodb.net:27017,cluster0-shard-00-02.twcfb.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-qk4rx2-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb = myclient["Bellotta"] 
mycol = mydb["vendite"]

mycol.drop()

#Trovare il prodotto venduto

In [ ]:
result = db2.vendite.aggregate([
     
    { "$group": {
        "_id": "maxAge",
        "maxAge": {
            "$max": "$customer.age"
        },
        "customerdata": {
            "$push": {
                "age": "$customer.age",
                "email": "$customer.email"
            }
        }}
       },
       
      {'$unwind': '$customerdata'

     
    },
    {'$match':{'$expr':{"$eq":["$maxAge", "$customerdata.age"]}}}
    ])
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []