In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies # nome del database

In [ ]:
doc = db.sales.find_one()
doc

{'_id': ObjectId('5bd761dcae323e45a93ccfe8'),
 'couponUsed': True,
 'customer': {'age': 42,
  'email': 'cauho@witwuta.sv',
  'gender': 'M',
  'satisfaction': 4},
 'items': [{'name': 'printer paper',
   'price': Decimal128('40.01'),
   'quantity': 2,
   'tags': ['office', 'stationary']},
  {'name': 'notepad',
   'price': Decimal128('35.29'),
   'quantity': 2,
   'tags': ['office', 'writing', 'school']},
  {'name': 'pens',
   'price': Decimal128('56.12'),
   'quantity': 5,
   'tags': ['writing', 'office', 'school', 'stationary']},
  {'name': 'backpack',
   'price': Decimal128('77.71'),
   'quantity': 2,
   'tags': ['school', 'travel', 'kids']},
  {'name': 'notepad',
   'price': Decimal128('18.47'),
   'quantity': 2,
   'tags': ['office', 'writing', 'school']},
  {'name': 'envelopes',
   'price': Decimal128('19.95'),
   'quantity': 8,
   'tags': ['stationary', 'office', 'general']},
  {'name': 'envelopes',
   'price': Decimal128('8.08'),
   'quantity': 3,
   'tags': ['stationary', 'office', 'general']},
  {'name': 'binder',
   'price': Decimal128('14.16'),
   'quantity': 3,
   'tags': ['school', 'general', 'organization']}],
 'purchaseMethod': 'Online',
 'saleDate': datetime.datetime(2015, 3, 23, 21, 6, 49, 506000),
 'storeLocation': 'Denver'}

In [ ]:
result = db.sales.find()

df2 = pd.DataFrame(list(result))
df2

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93cd005,2016-05-16 01:49:20.963,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 49, 'email': 'me@lih.st...",False,Phone
2,5bd761dcae323e45a93cd006,2017-02-06 11:18:38.404,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 60, 'email': 'du@il.ug'...",False,In store
3,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone
4,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce309,2016-12-30 12:55:04.174,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'F', 'age': 39, 'email': 'oz@iperit...",False,In store
4650,5bd761deae323e45a93ce353,2016-10-14 10:46:40.551,"[{'name': 'pens', 'tags': ['writing', 'office'...",London,"{'gender': 'F', 'age': 44, 'email': 'zowna@heb...",False,Online
4651,5bd761deae323e45a93ce35b,2017-07-12 06:54:17.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 19, 'email': 'mohofri@c...",False,In store
4652,5bd761deae323e45a93ce362,2015-02-21 11:09:51.197,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 38, 'email': 'ti@buheno...",False,In store
4653,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online

#1 le mail degli utenti che hanno usato i coupon per un acquisto

In [ ]:
result = db.sales.find({"couponUsed" : True}, {"_id" : "$customer.email"})
df = pd.DataFrame(list(result))
df

                   _id
0     cauho@witwuta.sv
1         beancu@oz.ee
2     rutiro@tedrag.ly
3     kupeen@gareha.ne
4       wir@osibova.aq
..                 ...
445     kan@lepboil.cf
446   etvice@uploli.tv
447  tolfop@uwtuiba.bn
448        ka@ejeoj.gs
449          hud@we.ve

[450 rows x 1 columns]

#2 le mail degli utenti che hanno comperato articoli per la scuola

In [ ]:
result = db.sales.find({"items.tags": { "$regex" : "school"}}, {"_id" : "$customer.email"} )
df = pd.DataFrame(list(result))
df

                     _id
0       cauho@witwuta.sv
1              me@lih.st
2         keecade@hem.uy
3      worbiduh@vowbu.cg
4             man@bob.mz
...                  ...
4520      oz@iperitmi.es
4521  zowna@hebsefduf.cd
4522     mohofri@cusa.jm
4523     ti@buhenogin.sg
4524  lihzodud@voblep.ie

[4525 rows x 1 columns]

#3 gli ordini effettuati nel marzo del 2013

In [ ]:
import datetime
result = db.sales.find({"$and": [{"saleDate": {"$gte": datetime.datetime(2013,3,1)}} , {"saleDate": {"$lte": datetime.datetime(2013,3,31,23,59)} }]})
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93cd078,2013-03-12 09:34:55.659,"[{'name': 'envelopes', 'tags': ['stationary', ...",London,"{'gender': 'F', 'age': 46, 'email': 'jezga@nov...",True,In store
1,5bd761dcae323e45a93cd01f,2013-03-16 11:31:20.572,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 24, 'email': 'fufjoka@z...",False,Online
2,5bd761dcae323e45a93cd0cc,2013-03-18 07:12:45.173,"[{'name': 'laptop', 'tags': ['electronics', 's...",Denver,"{'gender': 'F', 'age': 39, 'email': 'not@gepo....",False,In store
3,5bd761dcae323e45a93cd0ce,2013-03-01 13:10:43.474,"[{'name': 'backpack', 'tags': ['school', 'trav...",Seattle,"{'gender': 'M', 'age': 54, 'email': 'oke@bisub...",False,Online
4,5bd761dcae323e45a93cd038,2013-03-20 10:14:53.681,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'M', 'age': 30, 'email': 'remcihce@...",False,In store
...,...,...,...,...,...,...,...
62,5bd761deae323e45a93ce226,2013-03-22 14:06:21.976,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 48, 'email': 'donlec@ut...",False,In store
63,5bd761deae323e45a93ce2cc,2013-03-21 16:07:34.820,"[{'name': 'laptop', 'tags': ['electronics', 's...",Denver,"{'gender': 'M', 'age': 46, 'email': 'so@fot.bg...",False,In store
64,5bd761deae323e45a93ce213,2013-03-17 17:25:11.760,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 48, 'email': 'vajdince@...",True,In store
65,5bd761deae323e45a93ce29f,2013-03-08 20:20:47.152,"[{'name': 'laptop', 'tags': ['electronics', 's...",Austin,"{'gender': 'M', 'age': 53, 'email': 'majve@udu...",False,Online
66,5bd761deae323e45a93ce2cb,2013-03-07 07:10:53.504,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 68, 'email': 'fibernep@...",False,Online

#4 l’età media dei clienti

In [ ]:
result = db.sales.aggregate([
                             {"$group": {"_id": "-->", "età_media": {"$avg":"$customer.age"} } }                            
                            ])
df=pd.DataFrame(list(result))
df

   _id  età_media
0  -->  44.776966

#5 il numero di clienti uomini e donne

In [ ]:
result = db.sales.aggregate([
                             {"$group": {"_id" : "$customer.gender", "total" : {"$sum" : 1}}},
                             ])
df=pd.DataFrame(list(result))
df

  _id  total
0   F   2347
1   M   2307

#6 il numero di acquisti per ogni categoria. Ordinare le categorie in ordine decrescente

In [ ]:
result = db.sales.aggregate([
                             {"$unwind": "$items"},
                             {"$unwind": "$items.tags"},
                             {"$group": {"_id" : "$items.tags", "total" : {"$sum" : 1}}},
                             {"$sort": { "total": -1 }}
                             ])
df=pd.DataFrame(list(result))
df

            _id  total
0        school  19257
1        office  19041
2       writing  10640
3    stationary  10522
4       general   8547
5  organization   4346
6          kids   2160
7        travel   2160
8   electronics   2111

#7 il numero di acquisti per ogni negozio (‘storeLocation’)

In [ ]:
result = db.sales.aggregate([
                             {"$group": {"_id" : "$storeLocation", "total" : {"$sum" : 1}}},
                             {"$sort": { "total": -1 }}
                             ])
df=pd.DataFrame(list(result))
df

        _id  total
0    Denver   1549
1   Seattle   1134
2    London    794
3    Austin    676
4  New York    501

#8 i negozi in cui sono stati effettuati meno di 100 acquisti

In [ ]:
result = db.sales.aggregate([
                             {"$group": {"_id" : "$storeLocation", "total" : {"$sum" : 1}}},
                             {"$match": { "total": { "$lt": 100 } } },
                             {"$sort": { "total": -1 }}
                             ])
df=pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

#9 il negozio in cui sono stati effettuati meno acquisti

In [ ]:
result = db.sales.aggregate([
                             {"$group": {"_id" : "$storeLocation", "total" : {"$sum" : 1}}},
                             {"$match": { "total": { "$lt": 100 } } },
                             {"$sort": { "total": 1 }}
                             ])
df=pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
result = db.sales.find({"storelocation": { "$regex" : "San Diego"}})
df = pd.DataFrame(list(result))
df

OperationFailure: ignored